$COLOR-RED: #f05a5d;
$COLOR-GREEN: #569846;
$COLOR-GRAY: #bcbcbc;
$COLOR-DARK-GRAY: #a0a0a0;

$COLOR-GRAY-BACKGROUND: #f2f2f2;
$COLOR-GRAY-BORDER: #cacaca;

$COLOR-CALLOUT: #464955;

$COLOR-CALLOUT: #464955;

$COLOR-FONT-BASE: #464955;
