//==============================================================================
// _.helpers.scss
//
//==============================================================================

//==============================================================================
// Mixins
//==============================================================================
@mixin debug {
    //border: 1px solid gray;
}

//==============================================================================
// Standard
//==============================================================================

.u-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.u-clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .u-clearfix {
    height: 1%;
}

.u-clearfix {
    display: block;
}



//==============================================================================
// Visibility and Transparency
//==============================================================================

.u-transparent {
    opacity: 0.00001;
}

.u-not-displayed {
    display: none;
}

.u-not-visible {
    visibility: hidden;
}

.u-hidden {
    visibility: hidden;
    display: none;
}

.u-overflow-hidden {
    overflow: hidden;
}

//==============================================================================
// Text
//==============================================================================

.u-vertical-middle{
    vertical-align: middle;
    display: inline-block;
}

